<header class="page-header m-profile">
	<div class="container">
		<div class="page-header__wrap">
            <div class="page-header__top">
                <a href="#" class="page-logo">
                    <img src="img/svg/logo.svg" alt="">
                </a>
                <nav class="page-header__nav">
                    <a href="#" class="page-header__link m-prof active">Профиль</a>
                    <a href="#" class="page-header__link m-conf">Конфигурации</a>
                </nav>
            </div>
            <a href="#" class="logout">Выйти</a>
		</div>
	</div>
</header>