/*FONT-FAMILY*/
//$default-font:'tt_normsregular', Arial, sans-serif;
$default-font:'Lato', sans-serif;

/*FONT-SIZE*/
$default-size-font: 13px;

/*BACKGROUND*/
$default-site-bg: #F4F6FA;
// $alt-site-bg: #7A1774;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #282839;

$alt-color: #FFCB00;